.header-h1{
    background-color: #E4121F;
}



.profile-card {
    border: 1px solid #ddd;
    border-radius: 8px;
    padding: 20px;
    background-color: #fff;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
    max-width: 800px;
    margin: auto;
    text-align:right;
}
.profile-header {
    text-align: center;
    position: relative;
}
.profile-header img {
    width: 150px;
    height: 150px;
    border-radius: 50%;
    object-fit: cover;
    border: 3px solid #ddd;
}
.profile-header button {
    position: absolute;
    bottom: 0;
    right: 0;
    border: none;
    background-color: #E4121F;
    color: white;
    border-radius: 50%;
    width: 60px;
    height:60px;
    display: flex;
    align-items: center;
    justify-content: center;
}
.profile-header button:hover {
    background-color: #af4048;
}
.profile-info {
    margin-top: 20px;
}
.form-group {
    margin-bottom: 1rem;
}
.btn-custom {
    background-color: #007bff;
    color: white;
}
.btn-custom:hover {
    background-color: #0056b3;
}
.profile-h1{
    font-family: Arial, Helvetica;
    font-size: 23px;
}

.form-control {
    text-align: right;
}

.profile-h1{
    color: #E4121F;
    font-family: Arial, Helvetica;
    font-size: 23px;
}

.profile-image .image_input::-webkit-file-upload-button{
    display: none;
}

.profile-image {
    position: relative;
}

.profile-image .image_input{
    width: 180px;
    white-space: pre-wrap; /* Preserve line breaks */
    position: absolute;
    top: -60px;
    right: 0;
}

@media(max-width:767px){
    .profile-image .image_input{
        white-space: pre-wrap; /* Preserve line breaks */
        position: relative;
        top: 0;
        right: 0;
    }
}


.profile-image .image_input::after{
    content: "تغيير \ الصورة";
    position: relative;
    width: 62px;
    height: 62px; 
    background-color: red;
    border-radius: 50%;
    color: white;
    display: inline-block;
    padding-top: 3px;
    text-align: center;
    cursor: pointer;
}