.hero-image{
    width: 20%;
    height:auto;
}

.div_1{
    text-align: right;
}

.text_r{
    text-align: right;
}

.mb-4{
    color: #E4121F;
    font-family: Arial, Helvetica;
    font-size: 40px;
}