body {
    padding-top: 20px;
    padding-bottom: 20px;
}
.card-header{
    text-align: right ;
}
.mb-0{
    font-family: Arial, Helvetica;
    color: #E4121F;
    font-size: 40px;
}
.mb-3{
    text-align: right;
}
.form-select{
    text-align: right;
}